#FeedBar {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  min-width: 15rem;
  max-width: 20rem;
  border-right: 1px solid lightgray;
  overflow: auto;

  @media (max-width: 720px) {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  .add-feed {
    margin-bottom: 2rem;
    input {
      all: unset;
      font-size: 1rem;
      height: 2rem;
      border-bottom: 1px solid gray;
      padding: 0 0.5rem;
    }
    input[type='submit'] {
      cursor: pointer;
      color: gray;
      font-weight: bold;
    }
  }

  .feed-list {
    display: flex;
    ul,
    li,
    a {
      all: unset;
    }
    a {
      cursor: pointer;
    }
    ul {
      display: flex;
      flex-direction: column;

      @media (max-width: 720px) {
        flex-direction: row;
      }
    }
    .feed-link {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;
      
      &:focus {
        outline: 0;
      }

      &.items-hide {
        opacity: 0.25;
        text-decoration: line-through;
      }
    }
  }
}
